
profiles {
        gadi {
            process{
                executor = 'pbspro'
                beforeScript = 'module use -a /g/data/if89/apps/modulefiles/'
                queue = 'copyq'
                project = 'll61'
                storage = 'gdata/if89+gdata/ll61'
                cpus = 1                        // dafualt cpu usage
                memory = '1GB'      // default memory
                time = '00:05:00'   // default time limit
            }
        }
        standard {
            process{
                beforeScript = 'module use -a /g/data/if89/apps/modulefiles/'
                executor = 'pbspro'
                queue = 'copyq'
                project = 'll61'
                storage = 'gdata/if89+gdata/ll61'
                cpus = 1                        // dafualt cpu usage
                memory = '1GB'      // default memory
                time = '00:05:00'   // default time limit
            }
        }
        setonix {
            process{
                    publishDir = [
                    path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                    mode: 'copy'
                ]

                executor = 'slurm'
                queue = 'work'
                project = 'director2172'
                cpus = 1                        // dafualt cpu usage
                memory = '1GB'      // default memory
                time = '00:05:00'   // default time limit
                //clusterOptions = "--account=director2172"
            }
        }

        spa {
            process{
                executor = 'slurm'
                queue = 'physical'
                project = 'punim1484'
                cpus = 1                        // dafualt cpu usage
                memory = '1GB'      // default memory
                time = '00:10:00'   // default time limit
                //clusterOptions = "--account=director2172"
            }
        }
}