process.container = 'quay.io/nextflow/bash'

profiles {
        gadi {
        process.executor = 'pbspro'
        beforeScript = 'module use -a /g/data/if89/apps/modulefiles/'
        queue = 'normal'
        project = 'll61'
        storage = 'gdata/if89+gdata/ll61'
        cpus = 1                        // dafualt cpu usage
        memory = '1GB'      // default memory
        time = '00:05:00'   // default time limit
        }
    standard {
        beforeScript = 'module use -a /g/data/if89/apps/modulefiles/'
        process.executor = 'pbspro'
        queue = 'normal'
        project = 'll61'
        storage = 'gdata/if89+gdata/ll61'
        cpus = 1                        // dafualt cpu usage
        memory = '1GB'      // default memory
        time = '00:05:00'   // default time limit
    }
}